/* Errores, mensajes y alertas de la aplicacion */
#flash{}

/* Sub header */

.sub_header{
  border-bottom: 1px #585858 solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.sub_header .list-nav{
  list-style-type: none;
}

.sub_header .list-nav-right{
  float: right;
}
ul.list-nav li{
  display: inline;
}

.sub_header h2, .sub_header h3{
  margin: 0px;
  padding: 5px;
}
.sub_header h2{
  font-size: 16px;
}
.sub_header h3{
  font-size: 16px;
  color: #999;
}

/* DIV LOGIN inicio de sesion */
#login{
  margin-top: 40px;
  background-color: #C2D6DD;
  padding: 20px;
  background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.6);
color: #fff;
}

/*Para dejar espacio*/
.separator-15{
  padding-top: 8px;
  padding-bottom: 7px;
}

/*Botones de accion dentro de los datatables*/
.dt-action{
  display: inline;
  margin-left: 10px;
}

/*General dentro de las paginas*/
/*sub titulo indicando nueva seccion*/
h2.seccion{
  font-size: 18pt;
  line-height: 40px;
  background-color: #E4EAB8;
  margin: 20px 0px 20px 0px;
  padding-left: 20px;
}

/*texto resaltado*/
.resaltado-1{
  font-size: 12pt;
  font-weight: bold;
}

/*Estilo para las tablas de perdidad y erogaciones */
tr.tr-report th{
  background-color: #D9D9D9;
}
/*LOGIN PAGE*/
.loginpage{
  height:90vh;
  background-image: url('../images/bg-home.png');
   background-position: center center;  
  background-repeat: no-repeat;
}
.loginpage h1{
  text-align: center;
  font-size: 60pt;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
  text-shadow: 1px 5px 2px #330;
  color: #666;
}
.loginpage .slogan{
 text-align: center;
  font-size: 16pt;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
  color: #666; 
  margin: 0px;
  padding: 0px;
}