/* Errores, mensajes y alertas de la aplicacion */
#flash{}

/* Sub header */

.sub_header{
  border-bottom: 1px #585858 solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.sub_header .list-nav{
  list-style-type: none;
}

.sub_header .list-nav-right{
  float: right;
}
ul.list-nav li{
  display: inline;
}

.sub_header h2, .sub_header h3{
  margin: 0px;
  padding: 5px;
}
.sub_header h2{
  font-size: 16px;
}
.sub_header h3{
  font-size: 16px;
  color: #999;
}

/* DIV LOGIN inicio de sesion */
#login{
  margin-top: 40px;
  background-color: #C2D6DD;
  padding: 20px;
  background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.6);
color: #fff;
height: 280px;
}

/*Para dejar espacio*/
.separator-15{
  padding-top: 8px;
  padding-bottom: 7px;
}

/*Botones de accion dentro de los datatables*/
.dt-action{
  display: inline;
  margin-left: 10px;
}

/*General dentro de las paginas*/
/*sub titulo indicando nueva seccion*/
h2.seccion{
  font-size: 18pt;
  line-height: 40px;
  background-color: #E4EAB8;
  margin: 20px 0px 20px 0px;
  padding-left: 20px;
}

/*texto resaltado*/
.resaltado-1{
  font-size: 12pt;
  font-weight: bold;
}

/*Estilo para las tablas de perdidad y erogaciones */
tr.tr-report th{
  background-color: #D9D9D9;
}
/*LOGIN PAGE*/
.loginpage{
  height:90vh;
  background-image: url('../images/bg-home.png');
   background-position: center center;  
  background-repeat: no-repeat;
}
.loginpage h1{
  text-align: center;
  font-size: 60pt;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
  text-shadow: 1px 5px 2px #330;
  color: #666;
}
.loginpage .slogan{
 text-align: center;
  font-size: 16pt;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
  color: #666; 
  margin: 0px;
  padding: 0px;
}
.credits{
  /*background-image: url('../images/bg-home2.png');
  background-position: center center;  
  background-repeat: no-repeat;*/
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 ;
  margin-top: 40px;
  font-size: 11pt;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}
.credits ul{
  list-style-type: none;
  font-weight: bold;
}
.credits .login_text1{
  font-weight: bold;
  text-decoration: underline;
  padding-left: 12px;
}
.credits .login_text2{
  font-weight: bold;
  text-decoration: underline;    
  padding-left: 12px;
}
.credits .login_text3{
  color: #330033;
  padding-left: 12px;
}

.mouse-hand{
  cursor: context-menu;
}

.build{
  color: #FF7511 !important;
  font-weight: bold;
}
/*ESTILO PARA LOS BOX DE LA PAGINA PRINCIPAL*/
/*.box-owner{
  -webkit-box-shadow: 2px 5px 20px 1px #ccc;
  box-shadow: 2px 5px 20px 1px #ccc;
  background-color: rgba(120, 150, 23, 0.1);
  color: rgba(120, 150, 23, 0.1);
  min-height: 250px;
  -webkit-border-radius: 10px 10px 20px 20px;
  border-radius: 10px 10px 20px 20px;
}
.box-owner h3{
  text-align: center;
  padding-top: 10px;
  background-color: #020;
  padding-bottom: 10px;
  color: #eee;
}

.box-schema{
  -webkit-box-shadow: 2px 5px 20px 1px #ccc;
  box-shadow: 2px 5px 20px 1px #ccc;
  background-color: #ccc;
  min-height: 250px;
  -webkit-border-radius: 10px 10px 20px 20px;
  border-radius: 10px 10px 20px 20px;
}
.box-schema h3{
  text-align: center;
  padding-top: 10px;
  background-color: #020;
  padding-bottom: 10px;
  color: #eee;
}

.box-btn1, .box-btn{
  padding: 25px 5px 25px 5px;
  display: block;
  vertical-align: middle;
  text-decoration: none;
  -webkit-border-radius: 11px 11px 11px 11px;
  border-radius: 11px 11px 11px 11px;
  margin: 0 10px 0 10px;
  text-align: center;
}
.box-btn{
  border: 2px solid #a90329; 
  background: #a90329;
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  color: #fff;
}
.box-btn1{
background: #ffc578;
background: -moz-linear-gradient(left,  #ffc578 0%, #fb9d23 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffc578), color-stop(100%,#fb9d23));
background: -webkit-linear-gradient(left,  #ffc578 0%,#fb9d23 100%); 
background: -o-linear-gradient(left,  #ffc578 0%,#fb9d23 100%);
background: -ms-linear-gradient(left,  #ffc578 0%,#fb9d23 100%);
background: linear-gradient(to right,  #ffc578 0%,#fb9d23 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 );
}
.box-btn-sm{
  font-size: 22px;
}
.box-btn-md{
  font-size: 32px;
}

.box-btn:hover, .box-btn1:hover{
 border: 2px solid #fff;
  color: #000;
  text-decoration: none;
}
*/
/*NUEVO INTENTO*/
.block-landpage h1{
  position: relative;
  padding: 8px 10px;
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  background-color: #829AA8;
  border-width: 1px;
  border-style: solid;
  border-color: #677C89 #677C89 #6B808D;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 3px 3px 0px 0px;
}
.block-landpage .block-landpage-body {
    padding: 10px 1%;
    overflow: hidden;
    background-color: #E9F1F4;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 3px 3px;
}
.block-landpage ul li {
    background-color: #F5F3B4;
    background-image: linear-gradient(#FFFFF5, #F5F3B4);
    background-repeat: repeat-x;
    position: relative;
    display: block;
    float: left;
    width: 40%;
    height: 100px;
    margin: 0px 1% 0px 0px;
    overflow: hidden;
    font-size: 23px;
    font-weight: normal;
    color: #666;
    border: 1px solid #DFDDB5;
    border-radius: 3px;
    box-shadow: 0px 1px 0px #FFF;
}
.block-landpage ul li a {
    color: #666;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 25px;
}
.block-landpage ul li a:hover{
    color: #000;
  }
.block-landpage ul li .help{
  font-size: 11px;
  text-align: center;
}